<th:block th:fragment="painel-processos">

    <section id="painel-processos" class="card p-3">

        <header class="mb-3">
            <h5 class="mb-0">Processos</h5>
        </header>

        <!-- FILTROS -->

            <form id="form-filtros" class="row g-3 mb-3">
                <div class="col-md-4">
                    <label class="form-label">Buscar por Assunto</label>
                    <select class="form-select" id="filtroAssunto" name="assunto">
                        <option value="">Todos</option>
                        <option th:each="assunto : ${assuntos}" th:value="${assunto.nome}" th:text="${assunto.nome}"></option>
                    </select>
                </div>

                <div class="col-md-3">
                    <label class="form-label">Filtrar por Status</label>
                    <select class="form-select" id="filtroStatus" name="status">
                        <option value="">Todos</option>
                        <option th:each="st : ${statusProcesso}" th:value="${st}" th:text="${st}"></option>
                    </select>
                </div>

                <div class="col-md-3">
                    <label class="form-label" for="filtroOrdenacao">Ordenar por Data</label>
                    <select class="form-select" id="filtroOrdenacao" name="ordenacao">
                        <option value="ASC">Mais Antigos</option>
                        <option value="DESC" selected>Mais Recentes</option>
                    </select>
                </div>

                <div class="col-md-2 d-flex align-items-end">
                    <button id="btnFiltrar" class="btn btn-secondary w-100" type="button">Filtrar</button>
                </div>
            </form>


        <!-- TABELA -->
        <div id="tabela-container">
            <div th:replace="fragments/tabela-processo:: tabela-processo(${processos},${status},${assuntos})"></div>
        </div>

    </section>

</th:block>
